body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

header, main, footer {
    display: flex;

}

header {
    flex: 1 1 0;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    flex: 6 1 0;
}

.main-btn {
    flex: 1 1 0;
    width: 50%;
    margin: 0 auto;
}

#book-cards { 
    display: flex;
    flex: 12 1 0;
    flex-wrap: wrap;
    max-width: 100%;
}

#book-cards > * {
    flex: 1 1 29%;
    max-width: 29%;
    max-height: 80%;
    display: flex;
    gap: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.book-card > * {
    margin: 0;
}

.book-card > h2 {
    flex: 2 1 0;
}

.book-card > button {
    flex: 1 1 0;
    width: 80%;
}

footer {
    flex: 0.5 1 0;
    width: 100%;
    height: 7%;
    justify-content: center;
    align-items: center;
}

#dialog-book {
    padding: 0;
}

#dialog-div {
    padding: 16px;
}